services:

  backend:
      build:
        context: ./backend
        dockerfile: Dockerfile
      container_name: backend_service
      ports:
        - "8000:8000"
      volumes:
        - ./backend:/app

  frontend:
      build:
        context: ./frontend
        dockerfile: Dockerfile
      container_name: frontend_service
      ports:
        - "3000:3000"
      volumes:
        - ./frontend:/app